:root {
  /* color */
  --color-background: #ebebeb;
  --color-Basic-navy: #14274E;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-tableeven: #ffffff;
  --color-tableodd: #fafafa;
  --color-tableL: #264a94;
  --color-tableHW: #4b8050;
  --color-tableT: #b54c3c;
  --color-calendar-background: #f5f5f5;
  --color-calendar-marktaskday: #6699CC;
}

html {
  width: 100%;
  height: 100%;
}

@keyframes loading {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
}

/* 폰트 */
@font-face {
  font-family: "logofont";
  src: url("logofont.ttf") format('truetype');
}

@font-face {
  font-family: "baiscfont";
  src: url("basicfont.ttf") format('truetype');
}

body {
  background: var(--color-background);
  color: rgba(0, 0, 0, 0.6);
  font-family: "baiscfont";
  font-size: 2rem;
  line-height: 1.6em;
  height: 100%;
}

/* mainpage(모바일) */
#mainpage {
  height: 100%;
  width: 100%;
}

#total {
  height: 100%;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 15;
  position: relative;
  background: var(--color-white);
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-toggle {
  z-index: 10;
  position: absolute;
  top: 200px;
  right: 200px;
  background: var(--color-white);
  width: 200px;
  height: 200px;
  border-radius: 100%;
  transform-origin: center;
  transform: translate(100%, -100%) scale(0);
  opacity: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.form-toggle:before,
.form-toggle:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 10px;
  background: var(--color-Basic-navy);
  transform: translate(-50%, -50%);
}

.form-toggle:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.form-toggle:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.form-toggle.visible {
  transform: translate(100%, -100%) scale(0.4);
  opacity: 1;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 10px;
}

.two .form-group {
  margin: 0 0 15%;
}

.form-group:last-child {
  margin: 0;
}

.form-group label {
  display: block;
  margin: 0 0 10px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 30px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.two .form-group label {
  color: var(--color-white);
}

.form-group input {
  outline: none;
  display: block;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100px;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 20px;
  color: var(--color-black);
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
}

#introduction {
  display: block;
  margin-top: 3%;
  color: var(--color-black);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  outline: none;
  background: rgb(255, 255, 255);
  width: 100%;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 20px 20px;
  font-family: inherit;
  font-size: 25px;
  line-height: inherit;
  word-break: keep-all;
}

a {
  cursor: pointer;
}

.form-group button {
  outline: none;
  background: var(--color-Basic-navy);
  width: 100%;
  height: 100px;
  border: 0;
  border-radius: 6px;
  padding: 12px 20px;
  padding-top: 14px;
  color: var(--color-white);
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 10px;
}

.form-panel {
  padding: 55px calc(5% + 60px) 60px 60px;
  box-sizing: border-box;
}

.form-panel.one:before {
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}

.form-panel.one.hidden:before {
  content: "";
  display: block;
  opacity: 1;
  visibility: visible;
}

.form-panel.two {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 92%;
  background: var(--color-Basic-navy);
  width: 100%;
  height: 100%;
  transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
  cursor: pointer;
  padding: 10%;
  padding-right: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-panel.two:before,
.form-panel.two:after {
  content: "";
  display: block;
  position: absolute;
  top: 60px;
  background: rgba(255, 255, 255, 0.2);
  height: 30px;
  width: 2px;
  transition: 0.3s ease;
}

.form-panel.two:after {
  left: 3%;
}

.form-panel.two:hover {
  left: 93%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-panel.two:hover:before,
.form-panel.two:hover:after {
  opacity: 0;
}

.form-panel.two.active {
  padding: 10%;
  padding-right: 15%;
  left: 7%;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: default;
}

.form-panel.two.active:before,
.form-panel.two.active:after {
  opacity: 0;
}

.form-header {
  margin: 0 0 40px;
}

.form-header h1 {
  cursor: default;
  text-align: center;
  margin: 20px;
  margin-bottom: 15%;
  padding: 0;
  color: var(--color-black);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 75px;
  font-family: "logofont";
  letter-spacing: 7px;
}

.one .form-group label {
  font-size: 30px;
  margin-right: 20px;
}

/* 로딩(모바일) */
#over {
  display: none;
  font-size: 40px;
  font-family: "logofont";
  color: var(--color-white);
  position: fixed;
  left: 50%;
  top: 48%;
  transform: translate(-50%, 0);
  transition-property: background-color;
  transition-duration: 3s;
}

#over::before {
  content: attr(data-text);
  color: var(--color-Basic-navy);
  position: absolute;
  left: 0;
  z-index: 2;
  overflow: hidden;
  width: 100%;
  animation: loading 2s ease infinite;
}

/* 서버에러 */
#server_error {
  display: none;
  width: 600px;
  height: 400px;
  box-shadow: 10px 10px 15px rgb(0 0 0 / 20%);
  z-index: 20;
  position: relative;
  background: var(--color-white);
  border-radius: 4px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin-left: 20%;
  margin-top: 0%;
  left: 0;
  right: 0;
}

#server_error>div {
  margin-bottom: 30px;
}

#mainpagebutton {
  outline: none;
  background: var(--color-Basic-navy);
  width: 200px;
  height: 80px;
  font-size: 30px;
  border: 0;
  border-radius: 6px;
  padding: 12px 20px;
  padding-top: 14px;
  color: var(--color-white);
  cursor: pointer;
}


/* secondpage(모바일) */
#secondpage {
  font-size: 14px;
  font-family: "baiscfont";
  display: none;
  flex-direction: column;
  align-items: center;
}

/* 상단 bar(모바일) */
section.buttons {
  display: flex;
  justify-content: space-evenly;
}

.delectBtn {
  margin-left: 10%;
}

.ddayBtn {
  margin-right: 10%;
}

.delectBtn,
.classfilterBtn,
.ddayBtn {
  background-color: var(--color-Basic-navy);
  color: var(--color-white);
  border: 0;
  outline: 0;
  border-radius: 10px;
  padding: 15px;
  margin-top: 5%;
  display: flex;
  font-size: 1.6rem;
  justify-content: center;
  transition: transform var(--animation-duration) ease;
}

.delectBtn:hover,
.classfilterBtn:hover,
.ddayBtn:hover {
  cursor: pointer;
  transform: scale(1.05);
}

/* table(모바일) */
.delectTabledata_subject,
.tabledata_subject,
.delectTabledata_catagory{
  display: none;
}

table {
  font-family: inherit;
  word-break: break-all;
  border-style: none;
  margin-bottom: 15px;
  table-layout: fixed;
  width: 80%;
  margin: 0 auto;
  margin-top: 5%;
  border-collapse: collapse;
}

.tables {
  font-family: inherit;
  padding-bottom: 5%;
  position: relative;
  order: 2;
}

th,
td {
  font-family: inherit;
  padding: 6px;
  text-align: center;
  vertical-align: middle;
  border-style: none;
  font-size: 2rem;
  border-collapse: collapse;
}

#tabledata_tableL th,
#delectTabledata_tableL th {
  background-color: var(--color-tableL);
  color: var(--color-white);
}

#tabledata_tableHW th,
#delectTabledata_tableHW th {
  background-color: var(--color-tableHW);
  color: var(--color-white);
}

#tabledata_tableT th,
#delectTabledata_tableT th {
  background-color: var(--color-tableT);
  color: var(--color-white);
}

.tabledata_subject th,
.delectTabledata_subject th{
  background-color: var(--color-calendar-marktaskday);
}

.tables tr:nth-child(even) {
  background-color: var(--color-tableeven);
}

.tables tr:nth-child(odd) {
  background-color: var(--color-tableodd);
}

#table_top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* 캘린더(모바일) */
#content {
  font-family: "baiscfont";
  margin: 10px;
  border-radius: 10px;
  background-color: var(--color-calendar-background);
  color: var(--color-black);
}

#Context-box::-webkit-scrollbar {
  width: 8px;
}

#Context-box::-webkit-scrollbar-thumb {
  background-color: var(--color-calendar-background);
  border-radius: 5px;
}

#Context-box::-webkit-scrollbar-track {
  background-color: var(--color-Basic-navy);
}

#content:first-child {
  margin-top: 15px;
}

#content-nonebox {
  font-family: "baiscfont";
  margin: 10px;
  border-radius: 10px;
  background-color: var(--color-calendar-background);
  color: var(--color-black);
  margin-top: 15px;
  padding: 15px;
  display: none;
}

#my-calendar {
  font-family: "baiscfont";
  width: 76%;
  margin-top: 8%;
  text-align: center;
  font-weight: 500;
  cursor: default;
  position: relative;
  border-radius: 15px;
  order: 1;
  padding: 20px;
  background-color: var(--color-white);
}

#clicked-date {
  display: none;
  font-family: "baiscfont";
  border-radius: 25px;
  padding: 10px 15px 26px;
  background: var(--color-Basic-navy);
  color: var(--color-white);
}

#clicked-date .cal-day {
  font-family: inherit;
  margin-bottom: 2%;
  font-size: 2.5rem;
}

#Context-box {
  height: 300px;
  font-size: 2rem;
  overflow-y: auto;
}

.ctr-box .btn-cal {
  position: relative;
  float: left;
  width: 25px;
  height: 25px;
  margin-top: 5px;
  font-size: 2rem;
  cursor: pointer;
  border: none;
  background: none;
}

.ctr-box {
  background-color: var(--color-Basic-navy);
  color: var(--color-white);
  padding: 10px 20px;
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-weight: bold;
  border-radius: 10px;
}

.ctr-box .btn-cal:after {
  content: '<';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 40px;
  font-weight: bold;
  font-size: 2rem;
}

.ctr-box .btn-cal.next {
  float: right;
}

.ctr-box .btn-cal.next:after {
  content: '>';
}

.cal-table {
  width: 100%;
}

.cal-table th {
  width: 14.2857%;
  padding-bottom: 5px;
  font-size: 2rem;
}

.cal-table td {
  padding: 3px 0;
  height: 100px;
  font-size: 2rem;
  vertical-align: middle;
}

.cal-table td.day {
  position: relative;
  cursor: pointer;
}

.cal-table td.today {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  color: var(--color-white);
}

.cal-table td.day-active {
  background: var(--color-Basic-navy);
  border-radius: 50%;
  color: var(--color-white);
}


#circle1 {
  margin: auto;
  width: 18%;
  height: 18%;
  border-radius: 50%;
  background-color: var(--color-calendar-marktaskday);
}

#circle2 {
  margin: auto;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}




/*  pc로 제작시 */
@media (hover: hover) and (pointer: fine) {
  body {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #mainpage {
    height: auto;
    width: auto;
  }

  #total {
    height: auto;
  }

  .form-group button {
    height: 50px;
  }

  .form-panel.one:before {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background: var(--color-white);
    width: 600px;
    height: 429.91px;
  }

  .form {
    width: 600px;
    height: 429.91px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
  }

  .form-toggle {
    top: 60px;
    right: 60px;
    width: 60px;
    height: 60px;
  }

  .form-toggle:before,
  .form-toggle:after {
    width: 30px;
    height: 4px;
  }

  .two .form-group {
    margin: 0 0 20px;
  }

  .form-group input {
    width: 450px;
  }

  .form-group label {
    font-size: 15px;
  }

  #introduction {
    margin: 0 0 10px;
    padding: 12px 20px;
    font-size: 13px;
  }

  .form-group button {
    margin: 0;
  }

  .form-panel.two {
    left: 95%;
    background: var(--color-Basic-navy);
    width: 600px;
    height: 429.91px;
    padding: 30px 120px 60px 60px;
    transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
    cursor: pointer;
    display: inline;
  }

  .form-panel.two:before,
  .form-panel.two:after {
    left: 1.5%;
  }

  .form-panel.two.active {
    padding: 30px 105px 60px 60px;
    left: 7%;
    width: 600px;
    height: 429.91px;
  }

  .form-header h1 {
    margin: 20px;
    font-size: 30px;
  }

  .one .form-group label {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .form-group input {
    height: auto;
  }

  #over {
    font-size: 25px;
  }

  .tables {
    position: relative;
    margin-left: 5%;
  }

  th,
  td {
    font-size: 1rem;
  }

  table {
    word-break: break-all;
    border-style: none;
    margin-bottom: 15px;
    table-layout: fixed;
    width: 550px;
  }

  /* error alert */
  #server_error {
    display: none;
    width: 300px;
    height: 200px;
    align-items: center;
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
  }

  #mainpagebutton {
    width: 100px;
    height: 40px;
    font-size: inherit;
  }

  /* 상단 bar(pc) */
  .delectBtn,
  .classfilterBtn,
  .ddayBtn {
    font-size: 1rem;
    margin: 5% 0 0 0;
  }

  /* 캘린더(pc) */
  #secondpage {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }

  #my-calendar {
    width: 400px;
    height: 100%;
    text-align: center;
    z-index: 3;
    position: sticky;
    top: 5%;
    margin-top: 0.5%;
  }

  #clicked-date {
    height: 30%;
  }

  #clicked-date .cal-day {
    font-size: 1.5rem;
  }

  #Context-box {
    height: 160px;
    font-size: 1rem;
  }

  .ctr-box {
    font-size: 20px;
  }

  .ctr-box .btn-cal {
    font-size: 16px;
  }

  .ctr-box .btn-cal:after {
    line-height: 25px;
    font-size: 20px;
  }

  .cal-table th {
    font-size: 16px;
  }

  .cal-table td {
    height: 48px;
    font-size: 15px;
  }

  #circle1 {
    width: 8px;
    height: 8px;
  }

  @media screen and (max-width: 1000px) {

    #tabledata_tableL,
    #delectTabledata_tableL {
      margin-top: 5%;
    }

    #secondpage {
      flex-direction: column;
      align-items: center;
    }

    #my-calendar {
      position: relative;
    }

    .tables {
      margin-left: 0;
    }
  }
}