html {
  width: 100%;
  height: 100%;
}
@keyframes loading{
  from {width: 0%;}
  to {width: 100%;}
}

* {margin: 0; padding: 0;} 

@font-face {
  font-family: "logofont";
  src: url("logofont.ttf") format('truetype');
}
@font-face {
  font-family: "baiscfont";
  src: url("basicfont.ttf") format('truetype');
}
body {
  background: #ebebeb;
  color: rgba(0, 0, 0, 0.6);
  font-family: "baiscfont";
  font-size: 2rem;
  line-height: 1.6em; 
  height: 100%;
}
#mainpage{
  height: 100%;
  width: 100%;
}
#total{
  height: 100%;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 15;
  position: relative;
  background: #FFFFFF;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-toggle {
  z-index: 10;
  position: absolute;
  top: 200px;
  right: 200px;
  background: #FFFFFF;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  transform-origin: center;
  transform: translate(100%, -100%) scale(0);
  opacity: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}
.form-toggle:before, .form-toggle:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 10px;
  background: #14274E;
  transform: translate(-50%, -50%);
}
.form-toggle:before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.form-toggle:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.form-toggle.visible {
  transform: translate(100%, -100%) scale(0.4);
  opacity: 1;
}
.form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 10px;
}
.two .form-group {
  margin: 0 0 15%;
}
.form-group:last-child {
  margin: 0;
}

.form-group label {
  display: block;
  margin: 0 0 10px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 30px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.two .form-group label {
  color: #FFFFFF;
}
.form-group input {
  outline: none;
  display: block;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100px;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 20px;
  color: #000000;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
}
#introduction {
  display: block;
  margin-top: 3%;
  color: black;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  outline: none;
  background: rgb(255, 255, 255);
  width: 100%;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 20px 20px;
  font-family: inherit;
  font-size: 28px;
  line-height: inherit;
  word-break:break-all;
}
a{
  cursor: pointer;
}
.form-group button {
  outline: none;
  background: #14274E;
  width: 100%;
  height: 100px;
  border: 0;
  border-radius: 6px;
  padding: 12px 20px;
  padding-top:14px;
  color: #FFFFFF;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 10px;
}

.form-panel {
  padding: 55px calc(5% + 60px) 60px 60px;
  box-sizing: border-box;
}
.form-panel.one:before {
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}
.form-panel.one.hidden:before {
  content: "";
  display: block;
  opacity: 1;
  visibility: visible;
}
.form-panel.two {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 92%;
  background: #14274E;
  width: 100%;
  height: 100%;
  transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
  cursor: pointer;
  padding: 10%;
  padding-right: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-panel.two:before, .form-panel.two:after {
  content: "";
  display: block;
  position: absolute;
  top: 60px;
  background: rgba(255, 255, 255, 0.2);
  height: 30px;
  width: 2px;
  transition: 0.3s ease;
}
.form-panel.two:after {
  left: 3%;
}
.form-panel.two:hover {
  left: 93%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.form-panel.two:hover:before, .form-panel.two:hover:after {
  opacity: 0;
}
.form-panel.two.active {
  padding: 10%;
  padding-right: 15%;
  left: 7%;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: default;
}
.form-panel.two.active:before, .form-panel.two.active:after {
  opacity: 0;
}
.form-header {
  margin: 0 0 40px;
}
.form-header h1 {
  cursor: default;
  text-align: center;
  margin: 20px;
  margin-bottom: 15%;
  padding: 0;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 75px;
  font-family: "logofont";
  letter-spacing: 7px;
}
.one .form-group label {
  font-size: 30px;
  margin-right: 20px;
}
#over { 
  display: none;
  font-size: 40px;
  font-family: "logofont";
  color: rgba(0, 0, 0, 0.1);
  position: fixed;
  left: 50%;
  top: 48%;
  transform: translate(-50%, 0);
}

#over::before {
  content: attr(data-text);
  color: #14274E;
  position: absolute;
  left: 0;
  z-index: 2;
  overflow: hidden;
  width: 100%;
  animation: loading 2s ease infinite;
}






#secondpage {
  font-size: 14px;
  display: none;
} 
table {
  word-break:break-all;
  border-style: none;
  margin-bottom: 15px;
  table-layout :fixed;
  width: 80%;
  margin: 0 auto;
  border-collapse : collapse;
}
.tables{
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  position: absolute; 
  left: 50%; 
  transform: translateX(-50%);
}
th, td {
  padding: 6px;
  text-align: center;
  vertical-align : middle;
  border-style: none;
  font-size: 2rem;
  border-collapse : collapse;
}
#tableL th{
  background-color:#3d72b3;
}
#tableHW th{
  background-color:#59995f;
}
#tableT th{
  background-color:#c95a49;
}

tr:nth-child(even){
  background-color:#ffffff;
}
tr:nth-child(odd){
  background-color:#fafafa;
}




#server_error{
  display:flex;
  width: 600px;
  height: 400px;
  box-shadow: 10px 10px 15px rgb(0 0 0 / 20%);
  z-index: 20;
  position: relative;
  background: #FFFFFF;
  border-radius: 4px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin-left: 20%;
  margin-top: 0%;
  left: 0;
  right: 0;
} 
#server_error > div{
  margin-bottom: 30px;
}
#mainpagebutton{
outline: none;
background: #14274E;
width: 200px;
height: 80px;
font-size: 30px;
border: 0;
border-radius: 6px;
padding: 12px 20px;
padding-top:14px;
color: #FFFFFF;
cursor: pointer;
}




/* pc로 제작시 */
@media (hover: hover) {
  body {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #mainpage{
    height: auto;
    width: auto;
  }
  #total{
    height: auto;
  }
  .form-panel.one:before {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background: white;
    width: 600px;
    height: 429.91px;
  }
  .form {
    width: 600px;
    height: 429.91px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
  }
  .form-toggle {
    top: 60px;
    right: 60px;
    width: 60px;
    height: 60px;
  }
  .form-toggle:before, .form-toggle:after {
    width: 30px;
    height: 4px;
  }
  .two .form-group {
    margin: 0 0 20px;
  }
  .form-group input {
  width: 450px;
}
  .form-group label {
    font-size: 15px;
  }
  #introduction {
    margin: 0 0 10px;
    padding: 12px 20px;
    font-size: 13px;
  }
  .form-group button {
    margin: 0;
  }
  .form-panel.two {
    left: 95%;
    background: #14274E;
    width: 600px;
    height: 429.91px;
    padding: 30px 120px 60px 60px;
    transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
    cursor: pointer;
    display: inline;
  }
  .form-panel.two:before, .form-panel.two:after {
    left: 1.5%;
  }
  .form-panel.two.active {
    padding: 30px 105px 60px 60px;
    left: 7%;
    width: 600px;
    height: 429.91px;
  }
  .form-header h1 {
    margin: 20px;
    font-size: 30px;
  }
  .one .form-group label {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .form-group button {
    height: auto;
  }
  .form-group input {
    height: auto;
  }
  #over { 
    font-size: 25px;
  }

  .tables{
    margin: 0;
    display: inline;
    margin: 0 auto;
  }
  th, td{
    font-size: 1rem;
  }
  table {
    word-break:break-all;
    border-style: none;
    margin-bottom: 15px;
    table-layout :fixed;
    width: 550px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
  }

  /* error alert */
  #server_error{
    width: 300px;
    height: 200px;
    align-items: center;
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
  } 
  #mainpagebutton{
  width: 100px;
  height: 40px;
  font-size: inherit;
  }
}